{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
        ["babel-plugin-transform-builtin-extend", {
            "globals": ["Error"]
        }]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "**/*.spec.js"
          ]
        }]
      ]
    }
  }
}
